
/*FONTS*/
/*
font-family: 'Bangers', cursive;
font-family: 'Montserrat', sans-serif;
*/


html, body {
	margin: 0px;
}


.box {
	height: 100vh;
}

 .video-container {
 	position: relative;
 	z-index: 0;
 }

.video-container video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 0;
}



.viewport-header {
	z-index: 1;
	position: relative;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#DK {
	font-family: 'Montserrat', sans-serif;
	font-size: 86px;
	color: #54F4B4;
	font-weight: 400;
	padding-left: 0px;
	margin-left: 0px;
}

#DEV {
	font-family: 'Montserrat', sans-serif;
	font-size: 86px;
	font-weight: 400;
}

#subtitle {
	font-size: .6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.nav {
	z-index: 1;
	display: flex;
	align-content: flex-start;
}