
/*FONTS*/
/*
font-family: 'Bangers', cursive;
font-family: 'Montserrat', sans-serif;
*/

#backgroundVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

.viewport-header {
	position: relative;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#DK {
	font-family: 'Montserrat', sans-serif;
	font-size: 86px;
	color: #54F4B4;
	font-weight: 400;
	padding-left: 0px;
	margin-left: 0px;
}

#DEV {
	font-family: 'Montserrat', sans-serif;
	font-size: 86px;
	font-weight: 400;
}

#subtitle {
	font-size: .6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

h1 {
	align-items: center;
}